@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h2>User name: @ViewBag.UserName</h2>
<h2>Auth. type: @ViewBag.AuthType</h2>

<p>Use this page to detail your site's privacy policy.</p>
