@{
    ViewData["Title"] = "Coin Page";
    @model  Coin
}

<div class="text-center">
  <h1 class="display-4">Learn My Coins Collection</h1>
     <h6 class="bg-primary text-white text-center m-2 p-2">My Coins Collection</h6>
     <div class="m-2">
	    <table class="table table-sm table-striped table-bordered">


	    </table>
     </div>
</div>